<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
     <title>@ViewBag.Title</title>

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/jqueryval")
     @Scripts.Render("~/bundles/modernizr")
     @Scripts.Render("~/bundles/bootstrap")
     @Scripts.Render("~/bundles/customScripts")
     @Styles.Render("~/bundles/css")
</head>
<body>
     <div id="navigation">
          <nav class="navbar navbar-primary">
               <div class="container-fluid">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuList">
                              <span class="zoom-in  glyphicon glyphicon-align-justify"></span>
                         </button>
                         <a class="navbar-brand" href="/home/index">In-Check</a>
                        
                    </div>
                    <div id="menuList" class="collapse navbar-collapse">
                         <ul class="nav navbar-nav">
                              <li class="active"><a href="/home/index">Home</a></li>
                              <li class="dropdown">
                                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Add", "Add", "Inventory")</li>
                                        <li>@Html.ActionLink("View", "Display", "Inventory")</li>
                                   </ul>
                              </li>
                              <li class="dropdown">
                                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Add", "Add", "Product")</li>
                                        <li>@Html.ActionLink("View", "Display", "Product")</li>
                                   </ul>
                              </li>
                              <li class="dropdown">
                                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Add", "Add", "Category")</li>
                                        <li>@Html.ActionLink("View", "Display", "Category")</li>
                                   </ul>
                              </li>
                              <li class="dropdown">
                                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Brands<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Add", "Add", "ProductBrand")</li>
                                        <li>@Html.ActionLink("View", "Display", "ProductBrand")</li>
                                   </ul>
                              </li>
                         </ul>
                         @Html.Partial("_LoginPartial")
                    </div>
               </div>
          </nav>
     </div>
     <div class="page-heading">
          <h1>@ViewBag.Heading</h1>
     </div>
     <div class="container-fluid body-content">
         @RenderBody() 
     </div>
     <div class="container-fluid text-center">
          <footer>
               <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
          </footer>
     </div>
     @RenderSection("Scripts", required: false)
</body>
</html>
*